body {
  font-family: 'Segoe UI', sans-serif;
  background: #D4C9BE;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 700px;
  margin: auto;
  background: #F1EFEC;
  padding: 20px;
  border-radius: 8px;
  margin-top: 40px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
}

input, textarea, select, button {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

#output {
  margin-top: 20px;
  white-space: pre-wrap;
}

#additional-key-container {
  display: none;
}
.card {
  border-radius: 1rem;
}

#outputContainer {
  transition: all 0.3s ease-in-out;
}
#loading {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

#loading .spinner-border {
  width: 3rem;
  height: 3rem;
  border-width: 0.3em;
}

